body {
	background-image: url("../img/drapeauBelge.jpeg");
	text-align: center;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

.rang {
	font-size: 30px;
}

.listeRang {
	display: inline-block;
	background-color: grey; /* Changer la couleur de fond en gris */
	overflow-y: scroll;
	height: 500px;
}

img {
	background-color: grey; /* Changer la couleur de fond en gris pour les images */
}